

  .card-holder {
    background-color: #ffffff;
    margin: 20px auto;
    font-size: 18px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.card-holder h2 {
    color: #6d44b8;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.card-holder p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

.card-holder p strong {
    font-weight: 600;
    /* color: #6d44b8; */
}

.card-holder button {
    width: 80%;
    height: 40px;
    margin: 20px auto;
    display: block;
    color: #ffffff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background 0.2s ease-in;
    cursor: pointer;
}

.card-holder button:hover {
    background: #6d44b8;
}

/* Styling for "Order not found" message */
.order-not-found {
    background-color: #fff;
    padding: 20px;
    font-size: 1.25em;
    color: #333;
    border: 1px solid #6d44b8;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
}
